@mixin icon($boyut, $yuvarlak: false) {
    width: $boyut;
    height: $boyut;
    @if ($yuvarlak) {
        border-radius: $boyut / 2;
    }
}

.container{
    float: left;
    @include icon(40px, true);
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin kenarlik($yon, $tur, $renk) {
    @if ($yon == "l") {
        border-left:3px $tur $renk;
    }
    @else if ($yon == "r") {
        border-right:3px $tur $renk;
    }
    @else if ($yon == "t") {
        border-top:3px $tur $renk;
    }
    @else if ($yon == "b") {
        border-bottom:3px $tur $renk;
    }
    @else {
        border: 3px solid black;
    }
}

.container2{
    width: 300px;
    height: 100px;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    @include kenarlik(t,solid ,black )
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 10px solid red;
}

$color11: rgb(197, 11, 11);
$color12: rgb(197, 119, 41);
$color13: rgb(61, 11, 197);
$color14: rgb(170, 67, 150);
$color15: rgb(52, 136, 44);
$colors:$color11,$color12,$color13,$color14,$color15;

@for $i from 1 through 5 {
    .item-#{$i} {
        width: 100px*$i;
        
        background-color: nth($colors, $i );
        margin-bottom: 10px;
    }
}
$dizi:1,2,3,4,5;
$dizi2:1,2,3,2,1;
@each $i in $dizi {
    .item-#{$i}{
        font-size:10px *nth($dizi2, $i ) ;
        height:15px *nth($dizi2, $i );
    }
}