#container{
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    grid-template-rows: 40% 100% 25%;
    grid-gap: 5px;
}
.content{
    background-color: rgb(84, 132, 236);
    border: 1px solid rgb(216, 195, 195);
}
.content1{
    grid-column-start: 1;
    grid-column-end: 4;
}

#elturco{
    height:95px;
}
.content2{
    font-size: 55px;
}
