*{
    margin: 0px;
}
/* .box{
    margin: 0%;
    border: 5px solid black;
    height: 90vh;
    width: 90vw;
    overflow: hidden;
} */
/* .box{
    margin: 0%;
    width: 100vmax;
    height: 100vmin;
    overflow: hidden;
    background-color: teal;
    max-width: 600px;
    max-height: 600px;
    min-height: 400px;
    min-width: 400px;
} */
    div~p{
    background-color: aquamarine;
}